  
/**======== RESET ========**/
*{margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;}
    body{background-color:#212529;}
    a{text-decoration: none;}
    ul{ list-style: none;}
    img{max-width: 100%;}


.icon-joao {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 850px; 
}
.nome {
    color: azure;
    font-family:apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-size: 60px;
    font-weight: 500;
}
.titulo {
    position: absolute;
    top: 160px;
    left: 350px;
}
.resumo {
    color: azure;
    font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-size: 20px;
    text-align: justify;
}
.subtitulo{
    position: absolute;
    top: 270px;
    left: 580px;
   
}
.projetos {
    color: azure;
    font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-size: 36px;
    font-weight: 450;
    text-decoration: underline ;
}
.projetodv {
    position: absolute;
    top: 330px;
    left: 580px;
}
.laranja{
    background-color: #DEA800;
    width: 700px;
    height: 50px;
    top: 210px;
    position: absolute;
    z-index: -1;
}
.email {
    position: absolute;
    top: 10px;
    right: 10px;
}
.github {
    position: absolute;
    top:10px;
    right: 60px;
}
.linkedin {
    position: absolute;
    top: 10px;
    right: 110px;
}
.lista {
    color: azure;
    font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 400px;
    left: 615px;
}
.rodape {
    color: azure;
    font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-size: 15px;
    font-weight: 350;
    bottom: 10px;
    left: 10px;
    position: absolute;
}
/*@media screen and (min-width:420px) {
   .email{
    position: absolute;
    top: 10px;
    right: 40px;
}
.github {
    position: absolute;
    top:10px;
    right: 90px;
}
.linkedin {
    position: absolute;
    top: 10px;
    right: 140px;
} 
}
